#uploader {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: whitesmoke
}

.navbar-default {
  background-color: #333;
}

.margins {
  margin-right: 2.5em;
}
