$font-stack: Lato, sans-serif;
$primary-color: #333;
$main-size: 14px;
$black: #333;
$blue: #428bca;
$green: #5cb85c;
$red: #d9534f;
$otherBlue: #5bc0de;

body {
  font-family: $font-stack;
  font-size: $main-size;
  color : $primary-color;
  border-right: 1px grey solid;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

@import 'navbar/navbar.scss';
@import 'rightSidebar/rightSidebar.scss';
@import 'rightSidebar/modal.scss';
@import 'rightSidebar/statusBox.scss';
@import 'detailBar/detailBar.scss';
@import 'projectDetail/projectDetail.scss';
@import 'chatContainer/chatNav.scss';
@import 'chatContainer/chatContainer.scss';
@import 'chatContainer/chat.scss';
