.single-box {
  background-color: darken($blue, 20%);
  margin-bottom: .5em;
}
.top {
  background-color: darken($blue, 20%);
  margin-bottom: .1em;
  padding: .5em 0 .5em 0;
  h4 {
    margin-bottom: 0px;
    color: whitesmoke;
  }
}
.bottom {
  background-color: $blue;
  padding: .2em 0 .2em 0;
  p {
    color: whitesmoke;
    margin-top: .6em;
  }
}
