.single-box {
  background-color: $black;
}
.top {
  background-color: darken($blue, 30%);
  margin-bottom: 1px;
  padding: .5em 0 .5em 0;
  h4 {
    margin-bottom: 0px;
    color: whitesmoke;
  }
}
.bottom {
  background-color: $blue;
  padding: .2em 0 .2em 0;
  p {
    color: whitesmoke;
  }
}
